.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border: none;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px rgb(26, 25, 25);
}

.floats{
	position:fixed;
	width:60px;
	height:60px;
	bottom:105px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border: none;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px rgb(26, 25, 25);
}

.my-float{
	margin-top:22px;
}